<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Log4netConfigPath" value="../../Config/log4net.config" />
    <add key="SystemLoggerName" value="NCSystemLogger" />
    <add key="DebugLoggerName" value="NCSDebugLogger" />
    <add key="ErrorLoggerName" value="NCSErrorLogger" />
    <add key="DataBaseConfigFilePath" value="Config/DataBaseConfig.xml" />
    <add key="ModbusConfigFilePath" value="../../Config/ModbusConfig.xml" />
    <add key="SerialPortConfigFilePath" value="Config/SerialPortConfig.xml" />
    <add key="CreateDataBaseSqcritFilePath" value="Config/createDataBase.sql" />
    <add key="NumericalControlSystemDataBaseSqcritFilePath" value="Config/numericalcontrolsystem.sql" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
  </appSettings>

</configuration>